@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Stora';
    src: url('fonts/Stora.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brexter';
    src: url('fonts/Brexter-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* add font faces for: E:\D\Coding\Repositories\vox-tech\landing-page-vox\src\fonts\SFPRODISPLAYBOLD.OTF
E:\D\Coding\Repositories\vox-tech\landing-page-vox\src\fonts\SFPRODISPLAYMEDIUM.OTF
E:\D\Coding\Repositories\vox-tech\landing-page-vox\src\fonts\SFPRODISPLAYREGULAR.OTF */

@font-face {
    font-family: 'SFProDisplayBold';
    src: url('fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplayMedium';
    src: url('fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplayRegular';
    src: url('fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    /* soft gradient background*/
    background-image: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
    color: black;
    font-family: 'SFProDisplayRegular', sans-serif;
    margin: 0;
    align-self: center;
    align-items: center;
}

.section-gap {
    height: 10px;
    width: 100%;
    align-self: center;
}